<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsxt.crm.biz.dao.CustomerReprieveDao" >
  <resultMap id="BaseResultMap" type="com.shsxt.crm.biz.model.CustomerReprieve" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="loss_id" property="lossId" jdbcType="INTEGER" />
    <result column="measure" property="measure" jdbcType="VARCHAR" />
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, loss_id, measure, is_valid, create_date, update_date
  </sql>
  <sql id="whereClause" >
    where 1 = 1
    <if test="id != null" >
       and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="lossId != null" >
       and loss_id = #{lossId,jdbcType=INTEGER}
    </if>
    <if test="measure != null" >
       and measure = #{measure,jdbcType=VARCHAR}
    </if>
    <if test="isValid != null" >
       and is_valid = #{isValid,jdbcType=INTEGER}
    </if>
    <if test="createDate != null" >
       and create_date = #{createDate,jdbcType=TIMESTAMP}
    </if>
    <if test="updateDate != null" >
       and update_date = #{updateDate,jdbcType=TIMESTAMP}
    </if>
  </sql>
  <sql id="sort" >
    <if test="orderByStr != null" >
       order by ${orderByStr}
    </if>
  </sql>
  <sql id="lock" >
    <if test="lock != null and lock == true" >
       for update
    </if>
  </sql>
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_customer_reprieve
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from t_customer_reprieve
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="count" resultType="java.lang.Long" >
    select count(1)
    from t_customer_reprieve
    <include refid="whereClause" />
  </select>
  <select id="findOne" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_customer_reprieve
    <include refid="whereClause" />
    <include refid="sort" />
    <include refid="lock" />
  </select>
  <select id="find" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_customer_reprieve
    <include refid="whereClause" />
    <include refid="sort" />
    <include refid="lock" />
  </select>
  <insert id="save" parameterType="com.shsxt.crm.biz.model.CustomerReprieve" useGeneratedKeys="true" keyProperty="id" >
    insert into t_customer_reprieve (loss_id, measure, is_valid, 
      create_date, update_date)
    values (#{lossId,jdbcType=INTEGER}, #{measure,jdbcType=VARCHAR}, #{isValid,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="saveSte" parameterType="com.shsxt.crm.biz.model.CustomerReprieve" useGeneratedKeys="true" keyProperty="id" >
    insert into t_customer_reprieve
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lossId != null" >
        loss_id,
      </if>
      <if test="measure != null" >
        measure,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lossId != null" >
        #{lossId,jdbcType=INTEGER},
      </if>
      <if test="measure != null" >
        #{measure,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateSte" parameterType="com.shsxt.crm.biz.model.CustomerReprieve" >
    update t_customer_reprieve
    <set >
      <if test="lossId != null" >
        loss_id = #{lossId,jdbcType=INTEGER},
      </if>
      <if test="measure != null" >
        measure = #{measure,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="com.shsxt.crm.biz.model.CustomerReprieve" >
    update t_customer_reprieve
    set loss_id = #{lossId,jdbcType=INTEGER},
      measure = #{measure,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>