<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shsxt.crm.biz.dao.UserPermissionDao">

    <!--查询用户 ACL -->
    <select id="queryUserAclByUid" parameterType="int" resultType="string">
        SELECT  p.acl_value FROM  t_permission p LEFT  JOIN  t_user_role r ON (p.role_id = r.role_id)
          WHERE  r.user_id =  #{uid};
    </select>

</mapper>